* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
}

button {
  flex: 1;
  border: 0;
  background: #222;
  font-size: 50vmin;
  color: #333;
  font-weight: 1;
}

.divider {
  width: 10px;
  background: #333;
}
